@font-face {
    font-family: montserrat;
    src: url(/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(/assets/fonts/OpenSans_Condensed-Regular.ttf);
}
body{
    background: rgba(18, 18, 18, 1);
}
.page1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 158px;
}
.text {
    width: 400px;
}
.text h3{
    color: white;
    font-family: montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
}
.text button {
    background: rgba(220, 53, 69, 1);
    border: none;
    border-radius: 3px;
    padding: 16px 40px 16px 40px;
    color: white;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
}
.img {
    margin-top: 43px;

}
