
@font-face {
    font-family: bainsley;
    src: url('../fonts/Bainsley_Roman.otf');
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background: rgba(102, 17, 28, 1);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(102, 17, 28, 1);
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
    font-family: bainsley;
    scroll-behavior: smooth;
}

/* Navbar Codes */
.nav {
    width: 100%;
    box-shadow: 0px 10px 10px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, rgba(163, 2, 2, 1) 0%, rgba(133, 2, 2, 1) 50%, rgba(82, 3, 3, 1) 100%);
}

.logo {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.urls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style-type: none;
}
.urls li a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.urls li a:hover {
    background: white;
    color: black;
}


/*******************/
/* Sticky Button Codes */
.stickybuttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 100px;
    list-style-type: none;
}
.stickybuttons li{
    border: 2px solid rgba(102, 17, 28, 1);
    background-color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 10px 10px gray;
    cursor: pointer;
}
.stickybuttons li:hover{
    border: 2px solid  white;
    background-color: rgba(102, 17, 28, 1);
}
.stickybuttons li a{
    color: rgba(102, 17, 28, 1);
}
.stickybuttons li:hover a{
    color: white;
}
/****************************/
/* Section01 Codes */
.section01 {
    background-image: url('../img/augustine-wong-3Om4DHcaAc0-unsplash.jpg');
    background-size: 100%;
    padding-bottom: 100px;
    box-shadow: 0px 10px 10px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    color: white;
}

.text {
    font-size: 20px;
    text-align: justify;
    width: 700px;
    padding: 20px;
    border-radius: 77% 23% 81% 19% / 18% 85% 15% 82% ;
    overflow: hidden;
    background-color: rgba(102, 17, 28, 1);
    box-shadow: -10px 10px 10px rgba(102, 17, 28, 1);
    cursor: pointer;
}
.text:hover {
    border-radius: 40px;
}

.text h1 {
    font-size: 60px;
    text-align: center;
    color: white;
}

.poster img {
    border-radius: 64% 36% 53% 47% / 42% 59% 41% 58% ;
    box-shadow: 10px 10px 10px rgba(102, 17, 28, 1);
}
.poster img:hover{
    border-radius: 10px;
}

/*******************/
/* Section 02 */
.section02 {
    padding-bottom: 47px;
}

.heading {
    font-size: 20px;
    margin-inline: 100px;
    padding: 10px;
    background-color: rgba(102, 17, 28, 1);
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
    box-shadow: -5px -5px black;
}

.content2 {
    width: 1300px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.html {
    width: 500px;
    background-color: white;
    border-radius: 15px;
    font-size: 30px;
    box-shadow: -5px -5px black;
}

.html span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    color: white;
    background-color: #ff8c00;
    border: 2px solid black;
    border-radius: 13px;
}

.css {
    width: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 30px;
    box-shadow: -5px -5px black;
}

.css span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    color: white;
    background-color: #2f4aff;
    border-radius: 13px;
}

.javascript {
    width: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    box-shadow: -5px -5px black;
}

.javascript span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 44px;
    font-size: 15px;
    color: black;
    background-color: rgb(247, 247, 31);
    border-radius: 13px;
}

.react {
    font-size: 30px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    box-shadow: -5px -5px black;
}

/******************/
/* Section 03 */
.section03 {
    background-color: rgba(102, 17, 28, 1);
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

.heading1 {
    font-size: 20px;
    margin-inline: 100px;
    padding: 10px;
    background-color: white;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(102, 17, 28, 1);
    border-radius: 20px;
    box-shadow: -5px -5px black;
}

.content3 {
    width: 1300px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    display: grid;
    grid-template-rows: 300px 100px;
    width: 300px;
    border: 2px solid black;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: -5px -5px black;
    text-align: center;
    cursor: pointer;
}
.project:hover {
    transform: translate(-5px, -5px);
    box-shadow: none;
}

.project img {
    width: 250px;
    margin-bottom: 20px;
}

.project a {
    color: black;
    text-decoration: none;
}

.project a:hover {
    color: rgba(102, 17, 28, 1);
    text-decoration: none;
}

/******************/
/* Blog Codes */
.blog {
    margin-block: 40px;
}
.blogs {
    width: 1300px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.coming-soon {
    font-size: 150px;
    margin: 0 auto;
}
.blog-item {
    width: 300px;
    border: 2px solid black;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: -5px -5px rgba(102, 17, 28, 1);
    text-align: center;
}
.blog-item:hover {
    transform: translate(-5px, -5px);
    box-shadow: none;
}

.blog-item img {
    width: 250px;
    margin-bottom: 20px;
}

.blog-item a {
    color: black;
    text-decoration: none;
}

.blog-item a:hover {
    color: rgba(102, 17, 28, 1);
    text-decoration: none;
}
/**************************/
/* footer Codes */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, rgba(163, 2, 2, 1) 0%, rgba(133, 2, 2, 1) 50%, rgba(82, 3, 3, 1) 100%);
}

.logo {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


/*******************/